body {
  margin: auto;
  padding: 0;
  background: #f3f4f6;
}

::-webkit-scrollbar {
  width: 9px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #a1a0a0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #646464;
}